{% extends "base.html" %}
{% block title %}Cliente{% endblock %}
{% block content %}
<form action="{{ url_for('cliente.formCliente') }}" method="POST">
    <h1>Clientes</h1>
    <button type="submit" name="formNovo">Novo Cliente</button>
</form>
<br>
<table class="table table-striped table-hover align-middle">
    <thead class="table-dark">
        <tr>
            <th scope="col">#</th>
            <th scope="col">Nome</th>
            <th scope="col">CPF</th>
            <th scope="col">Telefone</th>
            <th scope="col">Compra Fiado</th>
            <th scope="col">Dia Fiado</th>
            <th scope="col">Senha</th>
        </tr>
    </thead>
    <tbody>
        {% if result %}
        {% for row in result %}
        <tr>
            <th scope="row"> {{ row['id_cliente'] }}</th>
            <td> {{ row['nome'] }}</td>
            <td> {{ row['cpf'] }}</td>
            <td> {{ row['telefone'] }}</td>
            <td> {{ row['compra_fiado'] }}</td>
            <td> {{ row['dia_fiado'] }}</td>
            <td> {{ row['senha'] }}</td>
            <td>
                <form action="{{ url_for('cliente.formEditCliente') }}" method="POST" name="formEdit{{ row['id_cliente'] }}">
                    <input type="hidden" name="id" value="{{ row['id_cliente'] }}">
                    <button type="submit" name="formEditCliente"> <i class="fas fa-edit"></i></button>

                </form>
            </td>
            <td>
                <form method='POST' name='jsDelete' id='jsDelete'>
                  <input type='hidden' name='id_cliente' value="{{ row['id_cliente'] }}">
                  <button type='submit' name='formDeleteCliente' class='btn'><i class='fas fa-trash'></i></button>
                </form>
              </td>
        </tr>
        {% endfor %}
        {% endif %}
    </tbody>
</table>
{% endblock %}
<br><br><br><br>
<a href="{{ url_for('index.formIndex') }}">Voltar a página inicial</a></li>